.toolbar {
  font-size: 20px;
  min-height: 48px;
  background-color: var(--color-toolbar);
}

.actions {
  border-top: 1px solid var(--color-divider);

  button + button {
    margin-left: 1em;
  }
}
