@use '~@angular/material' as mat;
@import './theme-base';

.theme-dark {
  // want to use default? set to $default-primary instead of mat.define-palette(mat.$cyan-palette)
  $primary: mat.define-palette(mat.$deep-purple-palette);
  $accent: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);
  $warning: $default-warning;
  $theme: mat.define-dark-theme($primary, $accent, $warning);
  @include theming($theme);

  // Chips
  --chip-background: #616161;
}
