@use '/src/styles/mixins.scss' as mixins;

:host {
  color: inherit;
  @include mixins.default-transition(color);
}

button {
  --size: 1em;
  font-size: 16px;
  color: inherit;
  opacity: 0.8;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  line-height: normal;

  width: var(--size);
  height: var(--size);

  mat-icon {
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
  }
}
